@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBFBFE;
  --blue: #443DFF;
  --text: #ffffff;
  --dark-blue: #010104;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #010104;
  }
} */

body {
  color: var(--text);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
