@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBFBFE;
  --blue: #443DFF;
  --text: #ffffff;
  --light-blue: #9498FF;
  --hover: #EBEAFF;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #010104;
    --blue: #0600C2;
    --hover: #0d00ff;
  }
} */

body {
  color: var(--text);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
